
@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}


#navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    position: sticky;
    top: 0;
    color: white;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    padding: 1rem;
    margin: 0.25rem;
}

a {
    text-decoration: none;
}
